<div class="custom-mat-dialog" role="document">
    <div class="modal-header" style="background-color:#fafafa">
        <button type="button" class="close" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{(sysLabels['Set Customer']) ? sysLabels['Set Customer'].Caption : 'Set Customer'}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- <div class="col-sm-12">
                <input id="is_cach_cust_pop_up_chbox" class="m-r-5" type="checkbox" />
                <label aria-label="is_cach_cust_pop_up_chbox">
                    Cash Customer
                </label>
            </div> -->
            <div class="col-sm-12 m-b-10">
                <div class="input-group btn-block">
                    <input type="text" class="form-control">
                    <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true" class="autocomplete-w">
                        <mat-option>
                            ID value| DescriptionEn value
                        </mat-option>
                    </mat-autocomplete>

                    <span class="input-group-btn">
                        <button class="btn btn-default-gray" type="button" tabindex="-1">
                            <i class="fa fa-times-circle  fa-fw txt-color-orange" aria-hidden="true"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default-gray" (click)="openSearchDialog()" type="button" tabindex="-1">
                            <i class="fa fa-search  fa-fw"></i>
                        </button>
                    </span>
                    <!-- <span class="input-group-btn">
                        <button class="btn btn-default-gray" type="button" tabindex="-1">
                            <i class="fa fa-plus  fa-fw"></i>
                        </button>
                    </span> -->

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <fieldset style="border:1px dashed #eee; padding: 10px;">

                    <legend class="legend1">
                        {{(sysLabels['Selected Customer ID']) ? sysLabels['Selected Customer ID'].Caption : 'Selected
                        Customer ID'}} {{ customerID }}
                        <!-- <a href="javascript:void(0)" title="Open record DescriptionEn value"
                            aria-label="Open record DescriptionEn value">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </a> -->
                    </legend>

                    <table class="table m-b-10">
                        <tr>
                            <td>
                                <i class="fa fa-id-card m-r-5"></i>
                            </td>
                            <td>
                                <strong class="m-r-5">
                                    {{(sysLabels['Loyalty Card']) ? sysLabels['Loyalty Card'].Caption :
                                    'Loyalty Card'}}
                                </strong>
                            </td>
                            <td>
                                <i class="fa fa-caret-right m-r-5"></i>
                            </td>
                            <td>
                                <small>{{loyaltyCard}}</small>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <strong class="m-r-5">
                                    {{(sysLabels['Total Points']) ? sysLabels['Total Points'].Caption :
                                    'Total Points'}}
                                </strong>
                            </td>
                            <td>
                                <i class="fa fa-caret-right m-r-5"></i>
                            </td>
                            <td>
                                <small>{{totalPoints}}</small>
                            </td>

                            <td>
                                <strong class="m-l-20 m-r-5">
                                    {{(sysLabels['Used Points']) ? sysLabels['Used Points'].Caption :
                                    'Used Points'}}
                                </strong>
                            </td>
                            <td>
                                <i class="fa fa-caret-right m-r-5"></i>
                            </td>
                            <td>
                                <small>{{usedPoints}}</small>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <strong class="m-r-5">
                                    {{(sysLabels['Loyalty Point']) ? sysLabels['Loyalty Point'].Caption : 'Loyalty
                                    Point'}}
                                </strong>
                            </td>
                            <td>
                                <i class="fa fa-caret-right m-r-5"></i>
                            </td>
                            <td>
                                <small>{{loyaltyPoints}}</small>
                            </td>

                            <td>
                                <strong class="m-l-20 m-r-5">
                                    {{(sysLabels['Loyalty Value']) ? sysLabels['Loyalty Value'].Caption
                                    : 'Loyalty Value'}}
                                </strong>
                            </td>
                            <td>
                                <i class="fa fa-caret-right m-r-5"></i>
                            </td>
                            <td>
                                <small>{{loyaltyValue}}</small>
                            </td>

                        </tr>
                    </table>


                    <strong>{{(sysLabels['DescriptionEn']) ? sysLabels['DescriptionEn'].Caption :
                        'DescriptionEn'}}</strong>
                    <input type="text" class="form-control m-b-10" [(ngModel)]="customerDescription"
                        attr.aria-label="{{(sysLabels['DescriptionEn']) ? sysLabels['DescriptionEn'].Caption : 'DescriptionEn'}}" />

                    <strong>{{(sysLabels['DescriptionAr']) ? sysLabels['DescriptionAr'].Caption :
                        'DescriptionAr'}}</strong>
                    <input type="text" class="form-control m-b-10" [(ngModel)]="customerDescription"
                        attr.aria-label="{{(sysLabels['DescriptionAr']) ? sysLabels['DescriptionAr'].Caption : 'DescriptionAr'}}" />

                    <table class="table m-b-10">
                        <tr>
                            <td class="p-r-10">
                                <strong>{{(sysLabels['Tel']) ? sysLabels['Tel'].Caption :
                                    'Tel'}}</strong>
                                <input type="text" class="form-control"
                                    attr.aria-label="{{(sysLabels['Tel']) ? sysLabels['Tel'].Caption : 'Tel'}}" />
                            </td>
                            <td>
                                <strong>{{(sysLabels['Email']) ? sysLabels['Email'].Caption : 'Email'}}</strong>
                                <input type="text" class="form-control"
                                    attr.aria-label="{{(sysLabels['Email']) ? sysLabels['Email'].Caption : 'Email'}}" />
                            </td>
                        </tr>
                    </table>

                    <table class="table m-b-10">
                        <tr>
                            <td>
                                <!-- deliveryDate datepicker-->
                                <div>
                                    {{(sysLabels['Delivery Date'])?sysLabels['Delivery
                                    Date'].Caption:'Delivery Date'}}
                                </div>
                                <div class="btn-trans" (click)="deliveryDateDatepicker.open()">
                                    <i class="fa fa-calendar-plus-o"></i>
                                    <mat-datepicker #deliveryDateDatepicker></mat-datepicker>
                                    <input [matDatepicker]="deliveryDateDatepicker" readonly placeholder="MM/dd/yyyy"
                                        style="min-width:0;background:none;border:0; cursor:pointer;">
                                </div>
                            </td>
                            <td>
                                <!-- deliveryDate Timeepicker-->
                                <div>
                                    {{(sysLabels['Delivery Time'])?sysLabels['Delivery
                                    Time'].Caption:'Delivery Time'}}
                                </div>
                                <div class="btn-trans">
                                    <i class="fa fa-clock-o"></i>
                                    <input style="border: 0; background: transparent; cursor: pointer;"
                                        [ngxTimepicker]="deliveryTimePicker" placeholder="00:00 am" readonly>
                                    <ngx-material-timepicker #deliveryTimePicker></ngx-material-timepicker>
                                </div>
                            </td>
                            <td>
                                <!--Cash on delivery-->
                                <div>
                                    {{(sysLabels['Cash On Delivery'])?sysLabels['Cash On
                                    Delivery'].Caption:'Cash On Delivery'}}
                                </div>
                                <div>
                                    <input type="checkbox" />
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="m-t-15 text-right">
                        <button class="btn btn-default-gray width-80" (click)="onCancel()">{{(sysLabels['Cancel']) ?
                            sysLabels['Cancel'].Caption :
                            'Cancel'}}</button>
                        <button class="btn btn-primary width-80 m-l-15"
                            (click)="onConfirmMultiChecked()">{{(sysLabels['Ok']) ?
                            sysLabels['Ok'].Caption : 'Ok'}}</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>