<div class="custom-mat-dialog" role="document">
    <div class="modal-header" style="background-color:#fafafa">
        <button type="button" class="close" (click)="onCancel()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{data.title}}</h4>
    </div>
    <div class="modal-body">

        <div>
            <div class="row mx-height-470">
                <div style="padding: 0 20px;">
                    <div class="row">
                        <div class="col-xs-12" style="overflow: scroll; height: 470px">
                            <!--Grid View-->
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="data.dataType != 'drillDown'"></th>
                                        <th *ngFor="let col of lookupRowFields">
                                            {{col}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let row of lookupRows ">
                                        <tr class="pointer">
                                            <td *ngIf="data.dataType != 'drillDown'">
                                                <button class="btn btn-default btn-xs" aria-label="Select"
                                                    title="Select" (click)="selectCustomer(row)">
                                                    <i class="fa fa-check "
                                                        [ngClass]="row[0] === data.selectedPOSID? 'txt-color-dangerLight': 'txt-color-blue'"></i>
                                                </button>
                                            </td>
                                            <td *ngFor="let column of row">
                                                {{ column }}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <!--End Grid View-->
                        </div>
                    </div>

                    <div class="row" *ngIf="data.isMultiCheck">
                        <div class="col-xs-12 table-responsive m-t-15" style="max-height:170px;">
                            <div class="t365-fieldset">
                                <span class="legand">Selected:</span>
                                <span class="t365-tag">
                                    DescriptionEn
                                    <a class="pointer" title="Remove" aria-label="Remove">
                                        <i class="fa fa-times-circle txt-color-dangerLight  m-l-5"
                                            aria-hidden="true"></i>
                                    </a>
                                </span>
                                <div class="no-data" style="margin:0">
                                    No Selected Items
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 m-t-15 text-right">
                            <button class="btn btn-primary width-80" *ngIf="data.isMultiCheck">
                                Ok
                            </button>
                            <button class="btn btn-default width-80 m-l-15" (click)="onCancel()">
                                Cancel
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>